<?xml version="1.0" encoding="UTF-8"?>
<iqser>
	<plugin>
		<id>net.sf.iqser.plugin.csv</id>
		<type>CSV</type>
		<name>CSV Plugin</name>
		<vendor>IQser Technologies GmbH</vendor>
		<provider-class> net.sf.iqser.plugin.csv.CSVContentProvider
		</provider-class>

		<!-- Required initialization-parameters -->
		<init-param>
			<param-name>file</param-name>
			<param-value>/path/to/csv/artcollection.csv</param-value>
		</init-param>

		<!-- Optional initialization-parameters -->
		<init-param>
			<!-- default: ; -->
			<param-name>delimeter</param-name>
			<param-value>;</param-value>
		</init-param>
		<init-param>
			<!-- default: UTF-8 -->
			<param-name>charset</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<!-- default: 0 (zero based number of the column with IDs) -->
			<param-name>column.id</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<!-- default: false (if true, the ID column will be used as ContentUrl, 
				else the ContentUrl will look like this: iqser://iqsercsvplugin.sf.net/[TYPE]/[ID-COLUMN-VALUE]) -->
			<param-name>column.idAsContentUrl</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<!-- default: -1 (= whole row without delimeters as fulltext, else the 
				zero based number of the column that should be used as fulltext) -->
			<param-name>column.fulltext</param-name>
			<param-value>-1</param-value>
		</init-param>
		<init-param>
			<!-- default: N/A (comma seperated list of zero-based column numbers that 
				will become key attributes) -->
			<param-name>columns.key</param-name>
			<param-value>1,2,3,6</param-value>
		</init-param>
		<init-param>
			<!-- default: N/A (comma seperated list of zero-based column numbers that 
				will be ignored) -->
			<param-name>columns.ignore</param-name>
			<param-value></param-value>
		</init-param>
	</plugin>
</iqser>